In [ ]:
import pandas as pd

In [ ]:
# load the  autolib dataset
data= pd.read_csv('http://bit.ly/autolib_dataset')
#create a data frame of the data
df= pd.DataFrame(data)
# display the first 5 rows of the data
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
#create a list of columns to drop
to_drop=[ 'Address','Charge Slots','Charging Status','Displayed comment','Geo point','Rental status','Scheduled at','Slots', 'Station type', 'Subscription status', 'year','month','day','minute']

#Drop columns 
df.drop(to_drop,axis=1, inplace=True)

In [ ]:
import numpy as np

In [ ]:
# check whether data has any missing data
np.count_nonzero(df.isnull())

0

In [ ]:
#standardidize the columns

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print(df)

      cars  bluecar_counter  ...  status  hour
0        0                0  ...      ok    11
1        6                6  ...      ok     7
2        3                3  ...      ok    20
3        3                3  ...      ok     4
4        3                3  ...      ok    17
...    ...              ...  ...     ...   ...
4995     2                2  ...      ok    11
4996     4                4  ...      ok    16
4997     1                1  ...      ok     7
4998     2                2  ...      ok    17
4999     4                4  ...      ok    10

[5000 rows x 11 columns]

1.Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
 #select data where city is Paris
 df1= df[df.city=='Paris']

In [ ]:
df1=df1[['cars','city','bluecar_counter','utilib_counter','utilib_1.4_counter', 'id']]
df1.head(10)

    cars   city  ...  utilib_1.4_counter                             id
0      0  Paris  ...                   0                paris-suffren-2
1      6  Paris  ...                   0     paris-raymondlosserand-145
3      3  Paris  ...                   0          paris-eugeneoudine-51
4      3  Paris  ...                   0      paris-portedechamperret-6
5      0  Paris  ...                   0               paris-voltaire-8
6      0  Paris  ...                   0  paris-citroencevennes-parking
8      1  Paris  ...                   0            paris-jeanmoulin-34
9      6  Paris  ...                   0           paris-anvers-parking
10     0  Paris  ...                   0               paris-censier-14
12     5  Paris  ...                   0      paris-portedechamperret-6

[10 rows x 6 columns]

2.What station is the  most popular?




*   Overall?

In [ ]:
#group df by station id and sum the number of cars  per station in descending order 

df.groupby('id')['cars'].sum().sort_values(ascending=False)

id
fontenayauxroses-robertmarchand-32     50
leplessisrobinson-galilee-16           49
fontenayauxroses-lombard-20            47
fontenayauxroses-divisionleclerc-31    43
paris-philippeauguste-126              42
                                       ..
paris-francois1er-38                    0
paris-flandre-61                        0
paris-faubourgmontmartre-31             0
paris-etoilefoch-parking                0
alfortville-blanqui-61                  0
Name: cars, Length: 1105, dtype: int64

3. The  most popular picking hour

In [ ]:
df['hour'].mode()

0    21
dtype: int64